.loader-wrap {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #fcfcfc;
	z-index: 1000;
}

.loader-wrap.ng-hide-add, 
.loader-wrap.ng-hide-remove {
	transition: 0.1s linear all;
}

.loader-wrap.ng-hide-add {
	opacity: 1;
}

.loader-wrap.ng-hide-add.ng-hide-add-active {
	opacity: 0;
}

.loader-wrap.ng-hide-remove {
	opacity: 0;
}

.loader-wrap.ng-hide-remove.ng-hide-remove-active {
	opacity: 1;
}

.circular {
	animation: rotate 2s linear infinite;
	height: 50px;
	transform-origin: center center;
	width: 50px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.path {
	stroke-dasharray: 1, 200;
	stroke-dashoffset: 0;
	animation: dash 1.5s ease-in-out infinite;
	stroke-linecap: round;
	stroke: #005EB8;
}

@keyframes rotate {
	100% {
		transform: rotate(360deg);
	}
}

@keyframes dash {
	0% {
		stroke-dasharray: 1, 200;
		stroke-dashoffset: 0;
	}
	50% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -35px;
	}
	100% {
		stroke-dasharray: 89, 200;
		stroke-dashoffset: -124px;
	}
}