.ccg-list {
	position: relative;
	margin-top: 12px;
}

.ccg-list li {
	position: relative;
}

.ccg-list li > a {
	display: block;
	position: relative;
	background: #fff;
	padding: 12px 40px 12px 0;
	cursor: pointer;
	color: #555;
	transition: background cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s,
	color cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s,
	padding cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
	border-bottom: 1px solid #e0e0e0;
}

.ccg-list li:last-child > a {
	border: none;
}

.ccg-list li > a:hover,
.ccg-list li > a.active {
	background: #005EB8;
	color: #fff;
	padding: 12px 40px 12px 20px;
}

.ccg-list li > a.active {
	box-shadow: 0 4px 2px -2px gray;
	border: none;
}

.ccg-list li > a svg {
	width: 20px;
	height: 20px;
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -10px;
	transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
}

.ccg-list li > a:hover svg, 
.ccg-list li > a.active svg {
	right: 14px;
}

.ccg-list li > a:hover svg use, 
.ccg-list li > a.active svg use {
	fill: #fff;
}

.ccg-list li > div {
	background: #f7f7f7;
	border-top: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	border-bottom: 1px solid #e0e0e0;
	width: calc(100% - 10px);
	margin-left: 5px;
	margin-bottom: 4px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
	overflow: hidden;
}

.ccg-list li > div a {
	display: block;
	width: 50%;
	float: left;
	position: relative;
	padding: 8px 0;
	text-align: center;
	font-weight: 700;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	border-right: 1px solid #e0e0e0;
	color: #444;
}

.ccg-list li > div a:hover {
	color: #005EB8;
}

.ccg-list li > div.ng-enter,
.ccg-list li > div.ng-leave {
	transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.3s;
}

.ccg-list li > div.ng-enter,
.ccg-list li > div.ng-leave.ng-leave-active {
	opacity: 0;
}

.ccg-list li > div.ng-leave,
.ccg-list li > div.ng-enter.ng-enter-active {
	opacity: 1;
}